.search-container {
    max-width: 400px;
}
.search-container, .search-element { 
    width: 100%;
    display: flex;
    
}
.search-element {
    position: relative;
    justify-content: center;
    align-items: center;

}

.search-btn {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    align-items: center;
    justify-content: center;
}

input {
    height: 28px;
    width: 100%;
    padding: 0 4px;
    border: 1px solid rgb(0, 220, 216);
    border-radius: 20px;
}
input:focus {
    border: 1px solid rgb(255, 89, 0);
    outline: none;
}