





.App {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 620px) minmax(120px,280px) 1fr;
  grid-template-rows: fit-content(100%) fit-content(100%) auto;
  box-shadow: 0 4px 2px -2px rgb(255, 89, 0);
  grid-gap: 24px;
  background-color: #f8f8f8;

  
}
main {
  grid-column: 2/3;
}
.type-bar {
  display: flex;
  justify-content: center;  
}

aside {
  grid-column: 3/4;
}

header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr minmax(200px, 620px) minmax(120px,280px) 1fr;
  box-shadow: 0 4px 2px -2px rgb(255, 89, 0);
  grid-gap: 24px;
  align-items: center;
}
.header-title {
  display: flex;
  grid-column: 2/3;
  justify-content: space-between;
  align-items: center;
  
}

.header-title h1 {
  color: rgb(255, 89, 0);
}

.header-title span {
  color: rgb(0, 220, 216);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-link {
  color: rgb(112, 76, 182);
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
